<!DOCTYPE html>
<html>
<head>
<title>FAQ</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--//for-mobile-apps -->
<!--Custom Theme files -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--//Custom Theme files -->
<!--js-->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<!--//js-->
<!--cart-->
<script src="js/simpleCart.min.js"></script>
<!--cart-->
<!--web-fonts-->
<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'><link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Fascinate' rel='stylesheet' type='text/css'>
<!--web-fonts-->
<!--animation-effect-->
<link href="css/animate.min.css" rel="stylesheet"> 
<script src="js/wow.min.js"></script>
<script>
 new WOW().init();
</script>
<!--//animation-effect-->
<!--start-smooth-scrolling-->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>	
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!--//end-smooth-scrolling-->
</head>
<body>
	<!--header-->
	<%include header.html%>
	<!--//header-->
	<!--breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>主页</a></li>
				<li class="active">常见问题解答 </li>
			</ol>
		</div>
	</div>
	<!--//breadcrumbs-->
	<!--faq-->
	<div class="faq-info">
		<div class="container">
			<div class="title-info">
				<h3 class="title">常见<span> 问题</span></h3>
				<p>哈哈哈哈哈 </p>
			</div>
			<ul class="faq">
				<li class="item1 wow fadeInDown animated" data-wow-delay=".5s"><a href="#">哈哈哈哈<span class="icon"> </span></a>
					<ul>
						<li class="subitem1"><p> 呵呵呵</p></li>
					</ul>
				</li>
				<li class="item2 wow fadeInDown animated" data-wow-delay=".5s"><a href="#">哈哈<span class="icon"> </span></a>
					<ul>
						<li class="subitem1"><p> 嘿嘿嘿</p></li>
					</ul>
				</li>
				<li class="item3 wow fadeInDown animated" data-wow-delay=".5s"><a href="#">呵呵<span class="icon"> </span></a>
					<ul>
						<li class="subitem1"><p>有问题就写</p></li>
					</ul>
				</li>
				<li class="item4 wow fadeInDown animated" data-wow-delay=".5s"><a href="#">有问题就写<span class="icon"> </span></a>
					<ul>
						<li class="subitem1"><p>有问题就写</p></li>
					</ul>
				</li> 
				<li class="item5 wow fadeInDown animated" data-wow-delay=".5s"><a href="#">嘿嘿<span class="icon"> </span></a>
					<ul>
						<li class="subitem1"><p>有问题就写</p></li>
					</ul>
				</li>
				<li class="item6 wow fadeInDown animated" data-wow-delay=".5s"><a href="#">你的体重是多少?<span class="icon"> </span></a>
					<ul>
						<li class="subitem1"><p>不要不好意思说</p></li>
					</ul>
				</li>
				<li class="item7 wow fadeInDown animated" data-wow-delay=".5s"><a href="#">那么你们有什么长期的友谊呢?<span class="icon"> </span></a>
					<ul>
						<li class="subitem1"><p>一辈子</p></li>
					</ul>
				</li>
				<li class="item8 wow fadeInDown animated" data-wow-delay=".5s"><a href="#">什么是标准的合法途径?<span class="icon"> </span></a>
					<ul>
						<li class="subitem1"><p>哈哈哈哈</p></li>
					</ul>
				</li>
				<li class="item9 wow fadeInDown animated" data-wow-delay=".5s"><a href="#">这是一种很有价值的东西。<span class="icon"> </span></a>
					<ul>
						<li class="subitem1"><p>呵呵呵呵呵</p></li>
					</ul>
				</li>
				<li class="item10 wow fadeInDown animated" data-wow-delay=".5s"><a href="#">你猜猜我喜欢衣服？<span class="icon"> </span></a>
					<ul>
						<li class="subitem1"><p>嘿嘿</p></li>
					</ul>
				</li> 
			</ul>
			<!-- script for tabs -->
			<script type="text/javascript">
				$(function() {
				
					var menu_ul = $('.faq > li > ul'),
						   menu_a  = $('.faq > li > a');
					
					menu_ul.hide();
				
					menu_a.click(function(e) {
						e.preventDefault();
						if(!$(this).hasClass('active')) {
							menu_a.removeClass('active');
							menu_ul.filter(':visible').slideUp('normal');
							$(this).addClass('active').next().stop(true,true).slideDown('normal');
						} else {
							$(this).removeClass('active');
							$(this).next().stop(true,true).slideUp('normal');
						}
					});
				
				});
			</script>
			<!-- script for tabs -->
		</div>			
	</div>			
	<!--//faq-->
	<!--footer-->
	<%include footer.html%>
	<!--//footer-->		
	<!--search jQuery-->
	<script src="js/main.js"></script>
	<!--//search jQuery-->
	<!--smooth-scrolling-of-move-up-->
	<script type="text/javascript">
		$(document).ready(function() {
		
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!--//smooth-scrolling-of-move-up-->
	<!--Bootstrap core JavaScript
    ================================================== -->
    <!--Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>
</html>