<div class="footer">
    <div class="container">
        <div class="footer-info">
            <div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".5s">
                <h4 class="footer-logo"><a href="index">现代 <b>专柜</b> <span class="tag">为了孩子的一切 </span> </a></h4>
                <p>孩子是祖国的花朵，未来的希望！</p>
            </div>
            <div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".7s">
                <h3>热门</h3>
                <ul>
                    <li><a href="about">关于我们</a></li>
                    <li><a href="products">新的</a></li>
                    <li><a href="contact">联系我们</a></li>
                    <li><a href="faq">常见问题</a></li>
                    <li><a href="checkout">收藏</a></li>
                </ul>
            </div>
            <div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".9s">
                <h3>订阅</h3>
                <p>立即注册 <br> 了解有关我们公司的更多信息！ </p>
                <form>
                    <input type="text" placeholder="Enter Your Email" required="">
                    <input type="submit" value="Go">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>