


<div class="header">
    <div class="top-header navbar navbar-default"><!--header-one-->
        <div class="container">
            <% if(state==2){%>

            <p>你已登录baby home<a href="signin">退出登录</a></p>
            <%
            }
            else{%>


            <div class="nav navbar-nav wow fadeInLeft animated" data-wow-delay=".5s">
                <p>欢迎来到baby home <a href="register">注册 </a> 或 <a href="signin">登录</a></p>
            </div>

            <%  }%>

            <div class="nav navbar-nav navbar-right social-icons wow fadeInRight animated" data-wow-delay=".5s">
                <ul>
                    <li><a href="#"> </a></li>
                    <li><a href="#" class="pin"> </a></li>
                    <li><a href="#" class="in"> </a></li>
                    <li><a href="#" class="be"> </a></li>
                    <li><a href="#" class="you"> </a></li>
                    <li><a href="#" class="vimeo"> </a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="header-two navbar navbar-default"><!--header-two-->
        <div class="container">
            <div class="nav navbar-nav header-two-left">
                <ul>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 892</li>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">mail@example.com</a></li>
                </ul>
            </div>
            <div class="nav navbar-nav logo wow zoomIn animated" data-wow-delay=".7s">
                <h1><a href="index">现代 <b>专柜</b><span class="tag">一切为了儿童 </span> </a></h1>
            </div>
            <div class="nav navbar-nav navbar-right header-two-right">
                <div class="header-right my-account">
                    <a href="contact"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 联系我们</a>
                </div>
                <div class="header-right cart">
                    <a href="#"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                    <h4><a href="checkout">
                        <span class="simpleCart_total"> $0.00 </span> (<span id="simpleCart_quantity" class="simpleCart_quantity"> 0 </span>)
                    </a></h4>
                    <div class="cart-box">
                        <p><a href="javascript:;" class="simpleCart_empty">空购物车</a></p>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="top-nav navbar navbar-default"><!--header-three-->
        <div class="container">
            <nav class="navbar" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--navbar-header-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav top-nav-info">
                        <li><a href="index" class="active">主页</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">宝宝<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column multi-column1">
                                <div class="row">
                                    <div class="col-sm-4 menu-grids menulist1">
                                        <h4>沐浴与护理</h4>
                                        <ul class="multi-column-dropdown ">
                                            <li><a class="list" href="products">尿布</a></li>
                                            <li><a class="list" href="products">婴儿湿巾</a></li>
                                            <li><a class="list" href="products">婴儿肥皂</a></li>
                                            <li><a class="list" href="products">乳液和精油 </a></li>
                                            <li><a class="list" href="products">粉</a></li>
                                            <li><a class="list" href="products">洗发水</a></li>
                                        </ul>
                                        <ul class="multi-column-dropdown">
                                            <li><a class="list" href="products">沐浴露</a></li>
                                            <li><a class="list" href="products">尿不湿</a></li>
                                            <li><a class="list" href="products">婴儿尿布</a></li>
                                            <li><a class="list" href="products">医疗保健</a></li>
                                            <li><a class="list" href="products">美容</a></li>
                                            <li><h6><a class="list" href="products">组合包</a></h6></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-2 menu-grids">
                                        <h4>婴儿服装</h4>
                                        <ul class="multi-column-dropdown">
                                            <li><a class="list" href="products">连身衣和连身裤</a></li>
                                            <li><a class="list" href="products">连衣裙</a></li>
                                            <li><a class="list" href="products">袜子和裤袜</a></li>
                                            <li><a class="list" href="products">毛衣和帽子</a></li>
                                            <li><a class="list" href="products">晚装</a></li>
                                            <li><a class="list" href="products">被子和包裹</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3 menu-grids">
                                        <ul class="multi-column-dropdown">
                                            <li><a class="list" href="products">毯子</a></li>
                                            <li><a class="list" href="products">手套和连指手套</a></li>
                                            <h4>按年龄购物</h4>
                                            <li><a class="list" href="products">新生儿 (0 - 5 个月)</a></li>
                                            <li><a class="list" href="products">5 - 10 月</a></li>
                                            <li><a class="list" href="products">10 - 15 月</a></li>
                                            <li><a class="list" href="products">15 个月以上</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3 menu-grids">
                                        <ul class="multi-column-dropdown">
                                            <li><h6><a class="list" href="products">喂养与护理</a></h6></li>
                                            <h4>婴儿用品</h4>
                                            <li><a class="list" href="products">婴儿学步车</a></li>
                                            <li><a class="list" href="products">婴儿推车</a></li>
                                            <li><a class="list" href="products">婴儿车和玩具</a></li>
                                            <li><a class="list" href="products">婴儿床和摇篮</a></li>
                                            <li><a class="list" href="products">助推器座椅</a></li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </ul>
                        </li>
                        <li class="dropdown grid">
                            <a href="#" class="dropdown-toggle list1" data-toggle="dropdown">童装<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column multi-column2">
                                <div class="row">
                                    <div class="col-sm-3 menu-grids">
                                        <h4>新上市</h4>
                                        <ul class="multi-column-dropdown">
                                            <li><a class="list" href="products">上衣</a></li>
                                            <li><a class="list" href="products">底裤</a></li>
                                            <li><a class="list" href="products">内衣</a></li>
                                            <li><a class="list" href="products">睡衣</a></li>
                                            <li><a class="list" href="products">泳衣</a></li>
                                            <li><a class="list" href="products">无袖套装</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3 menu-grids">
                                        <h4>男孩</h4>
                                        <ul class="multi-column-dropdown">
                                            <li><a class="list" href="products">牛仔裤</a></li>
                                            <li><a class="list" href="products">衬衫</a></li>
                                            <li><a class="list" href="products">T恤</a></li>
                                            <li><a class="list" href="products">Dhoti Kurta 集</a></li>
                                            <li><a class="list" href="products">冬装</a></li>
                                            <li><a class="list" href="products">童礼服</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3 menu-grids">
                                        <h4>女孩</h4>
                                        <ul class="multi-column-dropdown">
                                            <li><a class="list" href="products">上衣</a></li>
                                            <li><a class="list" href="products">紧身裤</a></li>
                                            <li><a class="list" href="products">连衣裙 </a></li>
                                            <li><a class="list" href="products">短裙</a></li>
                                            <li><a class="list" href="products">日常休闲连衣裙</a></li>
                                            <li><a class="list" href="products">Capris & 3/4ths</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3 menu-grids new-add2">
                                        <a href="products">
                                            <h6>儿童特价</h6>
                                            <img src="images/img1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </ul>
                        </li>
                        <li class="dropdown grid">
                            <a href="#" class="dropdown-toggle list1" data-toggle="dropdown">饰品<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column menu-two multi-column3">
                                <div class="row">
                                    <div class="col-sm-4 menu-grids">
                                        <ul class="multi-column-dropdown">
                                            <li><a class="list" href="products">首饰</a></li>
                                            <li><a class="list" href="products">发带和发夹</a></li>
                                            <li><a class="list" href="products">手镯 </a></li>
                                            <li><a class="list" href="products">帽子和腰带</a></li>
                                            <li><a class="list" href="products">雨衣r</a></li>
                                            <li><a class="list" href="products">手袋</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-8 menu-grids">
                                        <a href="products">
                                            <div class="new-add">
                                                <h5>打7折 <br> 仅限今天</h5>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </ul>
                        </li>
                        <li class="dropdown grid">
                            <a href="#" class="dropdown-toggle list1" data-toggle="dropdown">玩具 <b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column multi-column4">
                                <div class="row">
                                    <div class="col-sm-4 menu-grids menulist1">
                                        <h4>宝宝</h4>
                                        <ul class="multi-column-dropdown ">
                                            <li><a class="list" href="products">摇椅</a></li>
                                            <li><a class="list" href="products">摇铃</a></li>
                                            <li><a class="list" href="products">婴儿车玩具</a></li>
                                            <li><a class="list" href="products">音乐玩具 </a></li>
                                            <li><a class="list" href="products">娃娃屋</a></li>
                                            <li><a class="list" href="products">玩具</a></li>
                                        </ul>
                                        <ul class="multi-column-dropdown">
                                            <li><a class="list" href="products">玩具娃娃</a></li>
                                            <li><a class="list" href="products">奶嘴</a></li>
                                            <li><a class="list" href="products">建筑集</a></li>
                                            <li><a class="list" href="products">沐浴玩具</a></li>
                                            <li><a class="list" href="products">毛绒玩具</a></li>
                                            <li><h6><a class="list" href="products">特别优惠</a></h6></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-2 menu-grids">
                                        <h4>假装游戏</h4>
                                        <ul class="multi-column-dropdown">
                                            <li><h6><a class="list" href="products">视频游戏</a></h6></li>
                                            <li><a class="list" href="products">厨具</a></li>
                                            <li><a class="list" href="products">沙滩玩具</a></li>
                                            <li><a class="list" href="products">工具盒</a></li>
                                            <li><a class="list" href="products">沐浴玩具</a></li>
                                            <li><a class="list" href="products">医疗套装</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-2 menu-grids">
                                        <h4>户外</h4>
                                        <ul class="multi-column-dropdown">
                                            <li><a class="list" href="products">游泳</a></li>
                                            <li><a class="list" href="products">Rideons </a></li>
                                            <li><a class="list" href="products">滑板车</a></li>
                                            <li><a class="list" href="products">遥控</a></li>
                                            <li><a class="list" href="products">动物</a></li>
                                            <li><a class="list" href="products">化妆</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4 menu-grids">
                                        <a href="products">
                                            <div class="new-add">
                                                <h5>打7折 <br> 仅限今日</h5>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </ul>
                        </li>
                        <li><a href="products">特别优惠</a></li>
                    </ul>
                    <div class="clearfix"> </div>
                    <!--//navbar-collapse-->
                    <header class="cd-main-header">
                        <ul class="cd-header-buttons">
                            <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
                        </ul> <!-- cd-header-buttons -->
                    </header>
                </div>
                <!--//navbar-header-->
            </nav>
            <div id="cd-search" class="cd-search">
                <form>
                    <input type="search" placeholder="Search...">
                </form>
            </div>
        </div>
    </div>
</div>