<!DOCTYPE html>
<html>
<head>
<title>Register</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--//for-mobile-apps -->
<!--Custom Theme files -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--//Custom Theme files -->
<!--js-->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<!--//js-->
<!--cart-->
<script src="js/simpleCart.min.js"></script>
<!--cart-->
<!--web-fonts-->
<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'><link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Fascinate' rel='stylesheet' type='text/css'>
<!--web-fonts-->
<!--animation-effect-->
<link href="css/animate.min.css" rel="stylesheet"> 
<script src="js/wow.min.js"></script>
<script>
 new WOW().init();
</script>
<!--//animation-effect-->
<!--start-smooth-scrolling-->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>	
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!--//end-smooth-scrolling-->
</head>
<body>
	<!--header-->
	<div class="header">
		<div class="top-header navbar navbar-default"><!--header-one-->
			<div class="container">
				<div class="nav navbar-nav wow fadeInLeft animated" data-wow-delay=".5s">
					<h2>欢迎来到Baby Home <a href="register">注册 </a> Or <a href="signin">登录 </a></h2>
				</div>
				<div class="nav navbar-nav navbar-right social-icons wow fadeInRight animated" data-wow-delay=".5s">
					<ul>
						<li><a href="#"> </a></li>
						<li><a href="#" class="pin"> </a></li>
						<li><a href="#" class="in"> </a></li>
						<li><a href="#" class="be"> </a></li>
						<li><a href="#" class="you"> </a></li>
						<li><a href="#" class="vimeo"> </a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="header-two navbar navbar-default"><!--header-two-->
			<div class="container">
				<div class="nav navbar-nav header-two-left">
					<ul>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 892</li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">mail@example.com</a></li>			
					</ul>
				</div>
				<div class="nav navbar-nav logo wow zoomIn animated" data-wow-delay=".7s">
					<h1><a href="index">现代 <b>专柜</b><span class="tag">一切为了孩子 </span> </a></h1>
				</div>
				<div class="nav navbar-nav navbar-right header-two-right">
					<div class="header-right my-account">
						<a href="contact"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 联系我们</a>
					</div>
					<div class="header-right cart">
						<a href="#"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
						<h4><a href="checkout">
								<span class="simpleCart_total"> $0.00 </span> (<span id="simpleCart_quantity" class="simpleCart_quantity"> 0 </span>) 
						</a></h4>
						<div class="cart-box">
							<p><a href="javascript:;" class="simpleCart_empty">清空购物车</a></p>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="top-nav navbar navbar-default"><!--header-three-->
			<div class="container">
				<nav class="navbar" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">切换导航</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<!--navbar-header-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav top-nav-info">
							<li><a href="index">Home</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Baby<b class="caret"></b></a>
								<ul class="dropdown-menu multi-column multi-column1">
									<div class="row">
										<div class="col-sm-4 menu-grids menulist1">
											<h4>洗浴和保健</h4>
											<ul class="multi-column-dropdown ">
												<li><a class="list" href="products">尿布</a></li>
												<li><a class="list" href="products">婴儿湿巾</a></li>
												<li><a class="list" href="products">婴儿肥皂</a></li>
												<li><a class="list" href="products">乳液和油 </a></li>
												<li><a class="list" href="products">痱子粉</a></li>
												<li><a class="list" href="products">洗发水</a></li>
											</ul>
											<ul class="multi-column-dropdown">
												<li><a class="list" href="products">沐浴露</a></li>
												<li><a class="list" href="products">尿布</a></li>
												<li><a class="list" href="products">婴儿尿布</a></li>
												<li><a class="list" href="products">医疗保健</a></li>
												<li><a class="list" href="products">清洁用品</a></li>
												<li><h6><a class="list" href="products">组合包</a></h6></li>
											</ul>
										</div>																		
										<div class="col-sm-2 menu-grids">
											<h4>婴儿服装</h4>
											<ul class="multi-column-dropdown">
												<li><a class="list" href="products">一次性和连裤童装</a></li>
												<li><a class="list" href="products">连衫裙</a></li>
												<li><a class="list" href="products">袜和连裤袜</a></li>
												<li><a class="list" href="products">毛衣和帽子</a></li>
												<li><a class="list" href="products">睡衣</a></li>
												<li><a class="list" href="products">被子和包装</a></li>
											</ul>
										</div>
										<div class="col-sm-3 menu-grids">
											<ul class="multi-column-dropdown">
												<li><a class="list" href="products">毛毯</a></li>
												<li><a class="list" href="products">手套和连指手套</a></li>
												<h4>按年龄</h4>
												<li><a class="list" href="products">新生儿（0-5米）</a></li>
												<li><a class="list" href="products">5-10个月</a></li>
												<li><a class="list" href="products">10 - 15 个月</a></li>
												<li><a class="list" href="products">15个月以上</a></li>
											</ul>
										</div>
										<div class="col-sm-3 menu-grids">
											<ul class="multi-column-dropdown">
												<li><h6><a class="list" href="products">喂养和护理</a></h6></li>
												<h4>婴儿用品</h4>
												<li><a class="list" href="products">婴儿学步车</a></li>
												<li><a class="list" href="products">折叠式婴儿车</a></li>
												<li><a class="list" href="products">婴儿车和玩具</a></li>
												<li><a class="list" href="products">摇篮&玩具</a></li>
												<li><a class="list" href="products">安全座椅</a></li>
											</ul>
										</div>
										<div class="clearfix"> </div>
									</div>
								</ul>
							</li>
							<li class="dropdown grid">
								<a href="#" class="dropdown-toggle list1" data-toggle="dropdown">Kids<b class="caret"></b></a>
								<ul class="dropdown-menu multi-column multi-column2">
									<div class="row">
										<div class="col-sm-3 menu-grids">
											<h4>新品上市</h4>
											<ul class="multi-column-dropdown">
												<li><a class="list" href="products">上衣</a></li>
												<li><a class="list" href="products">裤子</a></li>
												<li><a class="list" href="products">内衣</a></li>
												<li><a class="list" href="products">睡衣</a></li>
												<li><a class="list" href="products">游泳衣</a></li>
												<li><a class="list" href="products">连衫裤童装</a></li>
											</ul>
										</div>																		
										<div class="col-sm-3 menu-grids">
											<h4>男孩</h4>
											<ul class="multi-column-dropdown">
												<li><a class="list" href="products">牛仔裤</a></li>
												<li><a class="list" href="products">衬衫</a></li>
												<li><a class="list" href="products">T恤</a></li>
												<li><a class="list" href="products">Dhoti Kurta Sets</a></li>
												<li><a class="list" href="products">冬衣</a></li>
												<li><a class="list" href="products">派对服装</a></li>
											</ul>
										</div>
										<div class="col-sm-3 menu-grids">
											<h4>女孩</h4>
											<ul class="multi-column-dropdown">
												<li><a class="list" href="products">上衣</a></li>
												<li><a class="list" href="products">打底裤</a></li>
												<li><a class="list" href="products">连衣裙 </a></li>
												<li><a class="list" href="products">短裙</a></li>
												<li><a class="list" href="products">休闲服装</a></li>
												<li><a class="list" href="products">Capris & 3/4ths</a></li>
											</ul>
										</div>
										<div class="col-sm-3 menu-grids new-add2">
											<a href="products">
												<h6>特殊孩子</h6>
												<img src="images/img1.jpg" alt="">
											</a>
										</div>
										<div class="clearfix"> </div>
									</div>
								</ul>
							</li>
							<li class="dropdown grid">
								<a href="#" class="dropdown-toggle list1" data-toggle="dropdown">Accessories<b class="caret"></b></a>
								<ul class="dropdown-menu multi-column menu-two multi-column3">
									<div class="row">
										<div class="col-sm-4 menu-grids">
											<ul class="multi-column-dropdown">
												<li><a class="list" href="products">首饰</a></li>
												<li><a class="list" href="products">发带和夹子</a></li>
												<li><a class="list" href="products">手镯 </a></li>
												<li><a class="list" href="products">帽子和腰带</a></li>
												<li><a class="list" href="products">雨衣</a></li>
												<li><a class="list" href="products">包</a></li>
											</ul>
										</div>
										<div class="col-sm-8 menu-grids">
											<a href="products">
												<div class="new-add">
													<h5>30% OFF <br> Today Only</h5>
												</div>	
											</a>
										</div>	
										<div class="clearfix"> </div>
									</div>	
								</ul>
							</li>				
							<li class="dropdown grid">
								<a href="#" class="dropdown-toggle list1" data-toggle="dropdown">Toys <b class="caret"></b></a>
								<ul class="dropdown-menu multi-column multi-column4">
									<div class="row">
										<div class="col-sm-4 menu-grids menulist1">
											<h4>婴儿</h4>
											<ul class="multi-column-dropdown ">
												<li><a class="list" href="products">摇篮</a></li>
												<li><a class="list" href="products">拨浪鼓</a></li>
												<li><a class="list" href="products">推车玩具</a></li>
												<li><a class="list" href="products">音乐玩具 </a></li>
												<li><a class="list" href="products">玩偶</a></li>
												<li><a class="list" href="products">玩具</a></li>
											</ul>
											<ul class="multi-column-dropdown">
												<li><a class="list" href="products">玩具娃娃</a></li>
												<li><a class="list" href="products">安抚奶嘴</a></li>
												<li><a class="list" href="products">组合玩具</a></li>
												<li><a class="list" href="products">沐浴玩具</a></li>
												<li><a class="list" href="products">软体类玩具</a></li>
												<li><h6><a class="list" href="products">特别优惠</a></h6></li>
											</ul>
										</div>																		
										<div class="col-sm-2 menu-grids">
											<h4>最受欢迎</h4>
											<ul class="multi-column-dropdown">
												<li><h6><a class="list" href="products">电子游戏</a></h6></li>
												<li><a class="list" href="products">厨房套装</a></li>
												<li><a class="list" href="products">沙滩玩具</a></li>
												<li><a class="list" href="products">工具盒</a></li>
												<li><a class="list" href="products">沐浴玩具</a></li>
												<li><a class="list" href="products">医学玩具</a></li>
											</ul>
										</div>
										<div class="col-sm-2 menu-grids">
											<h4>户外</h4>
											<ul class="multi-column-dropdown">
												<li><a class="list" href="products">游泳</a></li>
												<li><a class="list" href="products">Rideons </a></li>
												<li><a class="list" href="products">自行车</a></li>
												<li><a class="list" href="products">遥控</a></li>
												<li><a class="list" href="products">动物</a></li>
												<li><a class="list" href="products">搭建</a></li>
											</ul>
										</div>
										<div class="col-sm-4 menu-grids">
											<a href="products">
												<div class="new-add">
													<h5>30% OFF <br> Today Only</h5>
												</div>
											</a>	
										</div>
										<div class="clearfix"> </div>
									</div>
								</ul>
							</li>
							<li><a href="codes">特价优惠</a></li>
						</ul> 
						<div class="clearfix"> </div>
						<!--//navbar-collapse-->
						<header class="cd-main-header">
							<ul class="cd-header-buttons">
								<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
							</ul> <!-- cd-header-buttons -->
						</header>
					</div>
					<!--//navbar-header-->
				</nav>
				<div id="cd-search" class="cd-search">
					<form>
						<input type="search" placeholder="Search...">
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--//header-->
	<!--breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>主页</a></li>
				<li class="active">注册</li>
			</ol>
		</div>
	</div>
	<!--//breadcrumbs-->
	<!--login-->
	<div class="login-page">
		<div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
			<h3 class="title">注册<span> 表格</span></h3>
			<p>这是一种很好的方法，它可以使你的身体变得更强壮。</p>
		</div>
		<div class="widget-shadow">
			<div class="login-top wow fadeInUp animated" data-wow-delay=".7s">
				<h4>已经有帐户了吗？<a href="signin">  注册 »</a> </h4>
			</div>
			<div class="login-body">






				<!--<form class="wow fadeInUp animated" data-wow-delay=".7s">-->
					<input id="FirstName"  name="FirstName" type="text" placeholder="姓" >
					<input id="LastName" name="LastName" type="text" placeholder="名" >
					<input id="user" type="text" name="user" class="email" placeholder="电子邮箱" >
					<input id="password" type="password" name="password" class="lock" placeholder="密码">
					<button onclick='register()'  style="width: 100%" value="Register">注册</button>
				<!--</form>-->


				<script>

					function register() {
						//获得相关的节点
						var user = document.getElementById('user');
						var password = document.getElementById('password');
						var FirstName = document.getElementById('FirstName');
						var LastName = document.getElementById('LastName');
//						var infor="user="+user.value+"&&password="+password.value+"&&FirstName="+FirstName.value+"&&LastName="+LastName.value;


						$.ajax({
							url: 'register1',
							type: "POST",
							data: {
								user: user.value,
								password: password.value,
								FirstName: FirstName.value,
								LastName: LastName.value

							},
							traditional: true,//这里设置为true
							success: function(data) {
								console.log(data);
								alert(data);
							}
						});

					}
				</script>






			</div>
		</div>
	</div>
	<!--//login-->
	<!--footer-->
	<%include footer.html%>
	<!--//footer-->				
	<!--search jQuery-->
	<script src="js/main.js"></script>
	<!--//search jQuery-->
	<!--smooth-scrolling-of-move-up-->
	<script type="text/javascript">
		$(document).ready(function() {
		
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!--//smooth-scrolling-of-move-up-->
	<!--Bootstrap core JavaScript
    ================================================== -->
    <!--Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>
</html>